<h1>All our flats</h1>


<ul>
  <% @flats.each do |flat| %>
  <h3><%= flat.name %></h3>
    <%= flat.address %>
    <br><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %> € <%= flat.price_per_night %>
    <br>
  <% end %>
</ul>
